.cache/clangd/index
build
bin/rodent.out
lib/AGL
bin/output.txt
lib/IntNet
bin/clean.sh
bin/modelnetwor
bin/modelstruct
bin/text.txt
bin/training.txt
bin/unclean.txt
CMakeFiles/cmake.check_cache
CMakeCache.txt
bin/training
bin/training.txt.old
bin/unclean.txt.old
